.popup__container {
    background-color: white;
    position: relative;
    min-width: 430px;
    border-radius: 10px;
}

@media screen and (max-width: 500px){
    .popup__container {
        min-width: 282px;
    }
}
