.footer__author {
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    font-style: normal;
}

@media screen and (max-width: 500px){
    .footer__author {
        font-size: 14px;
        line-height: 17px;
    }
}
